#nav {
    list-style: none;
    overflow: hidden;
}

#nav li {
    width: 140px;
    text-align: center;
    background-color: yellow;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
}

#nav li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 10px;
    padding: 20px;
}




h1 {
    color: red;
    margin: 30px;
    text-align: center;
    font-size: 30px;
}

#konbu {
    color: white;
    font-size: 50px;
}

#konbu2 {
    color: white;
    font-size: 50px;
}

#konbu3 {
    color: white;
    font-size: 15px;
    text-align: center;
}

#konbu4 {
    color: white;
    font-size: 15px;
    text-align: center;
}

#konbu5 {
    color: white;
    font-size: 15px;
    text-align: center;
}

#konbu6 {
    color: red;
    font-size: 15px;
    text-align: center;
}

.bg_test-text {
    border: solid 1px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.bg_test {
    text-align: center;
    padding: 150px;
    border: solid 2px;
    background-image: url("../img/photo_01.png ");
}

.bg_test-text2 {
    border: solid 1px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.bg_test2 {
    text-align: center;
    padding: 150px;
    border: solid 2px;
    background-image: url("../img/photo_02.png ");
}

p.sample img {
    width: 200px;
}

.flex_area {
    display: flex;
    justify-content: center;
}

.portfolio {
    display: flex;
    margin: 20px;
    font-size: large;
}