#header {
    background-color: black;
    box-shadow: 0 2px 4px gray;
    height: 10vh;
    width: 100%;
    padding: 0 60px;
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h2 {
    color: #fff;
    font-size: 1.875vw;
    font-weight: bold;
}

#topnav ul li {
    float: left;
}

#topnav ul li a {
    color: #fff;
    font-size: 1.25vw;
    margin-left: 3em;
}

#topnav ul li a:hover {
    color: gray;
}